<!DOCTYPE html>
<html>
	<head>
		<title>Areas of My Expertise</title>
		<link rel="stylesheet" type="text/css" href="/static/blog.css">
	</head>
	
	<body>
		<h1>The Areas of My Expertise</h1>
			
			<h2>Adam Miller</h2>
			<p>Hello and welcome, my name is Adam Miller and this is my first attempt at creating a website.
			</p>
			<p> Here are some links some projects I have worked on</p>
			<ul>
			<li>The source code of this website</li>
			<li><a href="http://millzor2890.appspot.com/rot13">My ROT13 cipher</a></li>
			<li><a href="http://millzor2890.appspot.com/blog">My Blog</a></li>
			
			</ul>
			
			
	</body>
</html>