<!DOCTYPE html>
<html>
	<head>
		<title>Signup Page</title>
	</head>
	
	<body>
		<form method="post" action="/signup">
			<label>Username: 
				<input type="text" name="username" value="{{oldtext}}"> 
			</label>
			<label name ="uerror">
			{{usernameerror}}
			</label>
			<br>
			<label>Password: 
			<input type="password" name="password"> 
			</label>
			<label name="pwerror">
			{{passworderror}}
			</label>
			<br><label>Re-type Password: 
			<input type="password" name="verify"> 
			</label>
			<label name="pwerror2">
			{{passworderror2}}
			</label>
			<br>
			<label>Email address: 
			<input type="text" name="email"> 
			</label>
			<label name="emerror">
			{{emailerror}}
			</label>
			<br>
			<input type="submit">

		</form>
	</body>
</html>
